body{
  width:100%;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logintable {width:100%; display:flex;   flex-direction: column;justify-content:center; align-items:center; height:350px;width:300px; background-color:#1b6a95; border-radius: 25px;padding-bottom:50px;}
h1{
  color:white;
  margin-bottom:20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.login-form { display:flex; flex-direction: column; justify-content:center; align-items:center; height:250px; width:250px; border-radius:10px;}
.Emaillabel{ margin-top:15px; color:white; font-weight:bold; font-size:18px;transform:all 0.4s ease;position: absolute; opacity: 1;cursor:pointer;text-align: center;}
.passwordlabel{ margin-top:15px; color:white; font-weight:bold; font-size:18px;transform:all 0.4s ease;position: absolute; opacity: 1;cursor: pointer;text-align: center;}
.Emailbox{  transition: border 0.25s ease, box-shadow 0.25s ease;transform: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);transform:translateY(10px); opacity: 0; height:40px; width:200px; border-radius:5px; border:none; padding-left:10px;}
.passwordbox{  transition: border 0.25s ease, box-shadow 0.25s ease;transform: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);transform:translateY(10px); opacity: 0; height:40px; width:200px; border-radius:5px; border:none; padding-left:10px;}
button{ height:35px; width:100px; border-radius:5px; border:none; background-color:#913095; color:white; font-weight:bold; cursor:pointer;}
button:hover{ background-color:#dab2b2;}
/*  */
.input-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Show input when label is hovered or input is focused */
.input-wrapper:hover .Emaillabel,
.Emailbox:focus {
  transform: translateY(0px);
  outline: none;
  border: 2px solid #ffffff80;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
  opacity: 1;
}

.input-wrapper:hover .passwordbox,
.passwordbox:focus {
  transform: translateY(0px);
   outline: none;
  border: 2px solid #ffffff80;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
  opacity: 1;
}

.register {
  margin-top: 15px;
  padding:20px 20px 0px 20px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.register1 {
  margin-right: auto;
  text-decoration: none;
  color: rgb(238, 195, 195);
  justify-self: flex-start;
}
.register2 {
  margin-left: auto;
  text-decoration: none;
  color: rgb(220, 200, 200);
  justify-self: flex-end;
}
.register1:hover, .register2:hover {
  text-decoration: underline;
}
