
h2{
    text-align: center;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin: 20px 20px 0px 20px;
    font-size: 2.5rem;
}
.test{
    text-align: center;
    color: #0e0303;
    font-size: 1rem;
}
.btn-time{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 3px;
    cursor: pointer;
}

.listColumn {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.id {
    width: 30px;
    font-weight: bold;
    color: #555;
}
.space{
    margin-left: 10px;      
    font-size: 0.7rem;
    color: #999;
    margin-right:10px;
}
.status{
    width: 60px;
    font-size: 0.9rem;
    text-transform: capitalize;
    color: #007BFF;
    margin-right:10px;
}
.btn{
    margin-right: 10px;
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.startDate{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}
.calander{
    width: 60px;
    height: 20px;
}
/* overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9;
}

/* modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #444;
  padding: 20px;
  border-radius: 8px;
  z-index: 10;
  width: 420px;
  color: white;
}

/* header */
h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  background: none;
  border: none;
  color: rgba(19, 7, 7, 0.578);
  font-size: 22px;
  cursor: pointer;
}
.modal-header {
display: flex;
justify-content: space-between;
align-items: center;
}
.lastrow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    
}
.inputtext{
    display: flex;
    align-self: center;
    justify-content: flex-start;
    width: 80%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(93, 88, 88);
    padding: 5px;
}
.clockin{
    display: flex;
    align-self: center;
    width: 80%;
    height: 30px;
    flex-direction: row;
    gap: 5px;
}
.todotext{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgb(93, 88, 88);
    padding: 5px;
}
.updown{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    cursor: pointer;
    width:50px;
    height:20px;
}
.add-btn{
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top:20px;
    cursor: pointer;
}
.headeroftodo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.edit-btn{
    display: flex;
    width:20px;
    height:20px;
    justify-content: flex-end;
    cursor: pointer;
}
.updownbtn{
    display: flex;
    gap: 5px;
    flex-direction: column;
    
}

.todolist{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.columns   {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.column {
    width:400px;
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
}
.text {
    display: flex;
    width: 300px;
    justify-content: center;
    font-size: 1.2rem;
    color: #666;
}
.todo-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}