
h2{
    text-align: center;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.5rem;
}
.listColumn {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.id {
    width: 30px;
    font-weight: bold;
    color: #555;
}
.space{
    margin-left: 10px;      
    font-size: 0.7rem;
    color: #999;
    margin-right:10px;
}
.status{
    width: 60px;
    font-size: 0.9rem;
    text-transform: capitalize;
    color: #007BFF;
    margin-right:10px;
}
.btn{
    margin-right: 10px;
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.updown{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    cursor: pointer;
    width:50px;
    height:20px;
}
.updownbtn{
    display: flex;
    gap: 5px;
    flex-direction: column;
    
}

.todolist{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.columns   {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.column {
    width:400px;
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
}
.text {
    display: flex;
    width: 300px;
    justify-content: center;
    font-size: 1.2rem;
    color: #666;
}
.todo-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}